*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
    font-family: var(--font-family)
    
}
a{
    color: unset;
    text-decoration: none;
}
.gradient__bg{
    background-color: rgba(16, 21, 26, 0.849);
}
.gradient__text{
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.section__padding{
    padding: 4rem 6rem;
}
.section__margin{
    margin:4rem 6rem;
}
/* place for the Animation */


@media screen and (max-width: 700px) {
    .section__padding{
      padding: 4rem;
    }
    .section__margin{
        margin: 4rem;
    }
    
}

@media screen and (max-width: 550px) {
    .section__padding{
      padding: 4rem 2rem;
    }
    .section__margin{
        margin: 4rem 2rem;
    }
    
}
